body,
html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
  color: black;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

hr {
  border: 2px solid green;
  border-radius: 5px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {
  background-color: #4caf50;
}
.alert.info {
  background-color: #2196f3;
}
.alert.warning {
  background-color: #ff9800;
}
.alert.secondary {
  background-color: lightgray;
}
.alert.tc {
  background-color: #004000;
}
.alert.shutdown {
  background-color: red;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

a {
  text-decoration: none;
  color: #004000;
}

a:hover {
  color: green;
}

.butler_btn {
  -moz-box-shadow: inset 0px 39px 0px -24px #e67a73;
  -webkit-box-shadow: inset 0px 39px 0px -24px #e67a73;
  box-shadow: inset 0px 39px 0px -24px #e67a73;
  background-color: #e4685d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}

.butler_btn:hover {
  background-color: #eb675e;
}

.butler_btn:active {
  position: relative;
  top: 1px;
}

.btn_main {
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #77b55a),
    color-stop(1, #72b352)
  );
  background: -moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: -webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: -o-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: -ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#77b55a",
      endColorstr="#72b352",
      GradientType=0
    );
  background-color: #77b55a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
}

.btn_main:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #72b352),
    color-stop(1, #77b55a)
  );
  background: -moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background: -webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background: -o-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background: -ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#72b352",
      endColorstr="#77b55a",
      GradientType=0
    );
  background-color: #72b352;
}

.btn_main:active {
  position: relative;
  top: 1px;
}
