body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: lightgray;
}

a {
    text-decoration: none;
    color: limegreen;
}

a:hover {
    color: #008000;
}

img {
    background: rgb(211, 211, 211);
    background: radial-gradient(circle, rgba(211, 211, 211, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

input[type="submit"] {
    box-shadow: inset 0px 1px 0px 0px #007300;
    background: linear-gradient(to bottom, #1c5900 5%, #267300 100%);
    background-color: #1c5900;
    border: 1px solid #004000;
    display: inline-block;
    cursor: pointer;
    color: #d3d3d3;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
}
input[type="submit"]:hover {
    background: linear-gradient(to bottom, #267300 5%, #1c5900 100%);
    background-color: #267300;
}
input[type="submit"]:active {
    position: relative;
    top: 1px;
}

input[type="button"] {
    box-shadow: inset 0px 1px 0px 0px #007300;
    background: linear-gradient(to bottom, #1c5900 5%, #267300 100%);
    background-color: #1c5900;
    border: 1px solid #004000;
    display: inline-block;
    cursor: pointer;
    color: #d3d3d3;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
}
input[type="button"]:hover {
    background: linear-gradient(to bottom, #267300 5%, #1c5900 100%);
    background-color: #267300;
}
input[type="button"]:active {
    position: relative;
    top: 1px;
}
