#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #004000;
}
#menu-0 .mbr-navbar__section {
  background: #004000;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #004000;
}
#menu-0 .mbr-navbar__section {
  background: #004000;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #004000;
}
#menu-0 .mbr-navbar__section {
  background: #004000;
}
#header1-13 H1 {
  color: #ffffff;
}
#header1-13 P {
  color: #ffffff;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #004000;
}
#menu-0 .mbr-navbar__section {
  background: #004000;
}
#msg-box2-18 h2 {
  color: #252525;
}
#msg-box2-18 p {
  color: #252525;
}
